:root {
    --main-color: #1E90FF;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: var(--light-black);
}

html::-webkit-scrollbar-thumb {
    background-color: #DCDCDC;
}

section {
    padding: 5rem 10%;
}

@keyframes fadeIn {
    0% {
          transform: scale(0);
          opacity: 0;
    }
}

.heading {
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
}

.btn {
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--main-color);
}

.heading-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    background-color: var(--white);
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 2.7rem;
    color: #1E90FF;
    font-weight: bold;
}

.header .navbar a {
    font-size: 2rem;
    margin-left: 1rem;
    float: left;
    color: var(--black);
    padding-right: 25px;
}

.header .navbar a:hover {
    color: var(--main-color);
}

.header .dropdown {
position: relative;
display: inline-block;
}

.header .dropdown-select {
position: relative;
font-size: 18px;
text-align: center;
font-family: Arial, sans-serif;
cursor: pointer;
}

.header .dropdown-select .username {
display: inline-block;
padding: 5px;
font-weight: bold;
}

.header .dropdown-select .dropdown-selected {
display: inline-block;
padding: 5px;
border: 1px solid #ccc;
border-radius: 4px;
background-color: #f9f9f9;
margin-left: 5px;
}

.header .dropdown-select .dropdown-options {
position: absolute;
width: 150px;
top: 150%;
left: 0;
z-index: 1;
display: none;
padding: 0;
margin: 0;
list-style-type: none;
background-color: #f9f9f9;
border: 1px solid #ccc;
border-radius: 4px;
}

.header .dropdown-select.active .dropdown-options {
display: block;
}

.header .dropdown-select .dropdown-options li {
margin-bottom: 5px;
}

.header .dropdown-select .dropdown-options a {
display: block;
padding: 5px;
text-decoration: none;
color: #000;
}

.header .dropdown-select .dropdown-options a:hover {
background-color: #ddd;
}

.header .tbl-biru {
    background: #fff;
    font-size: 20px;
    margin-top: 1px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.home {
    padding: 0;
}

.home .slide {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}

.home .slide .content {
    width: 85rem;
    display: none;
}

.home .swiper-slide-active .content {
    display: inline-block;
}

.home .slide .content span {
    display: block;
    font-size: 2.2rem;
    color: var(--light-white);
    padding-bottom: 1rem;
    animation: fadeIn .2s linear backwards .2s;
}

.home .slide .content h3 {
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fadeIn .2s linear backwards .4s;
}

.home .slide .content .btn {
    animation: fadeIn .2s linear backwards .6s;
}

.home .swiper-button-prev {
    right: 7rem;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
    cursor: pointer;
}

.services .box-container .box:hover {
    background: var(--black);
}

.services .box-container .box img {
    height: 7rem;
}

.services .box-container .box h3 {
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}

.home-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image {
    flex: 1 1 41rem;
}

.home-about .image img {
    width: 100%;
}

.home-about .content {
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
}

.home-about .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.home-about .content p {
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
}

.home-packages {
    background: var(--light-bg);
}

.home-packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.home-packages .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}

.home-packages .box-container .box:hover .image img {
    transform: scale(1.1);
}

.home-packages .box-container .box .image {
    height: 25rem;
    overflow: hidden;
}

.home-packages .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.home-packages .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.home-packages .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.home-packages .box-container .box .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.home-packages .load-more {
    text-align: center;
    margin-top: 2rem;
}

.home-offer {
    text-align: center;
}

.home-offer .content {
    max-width: 70rem;
    margin: 0 auto;
}

.home-offer .content h3 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.home-offer .content p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

/* cari */
.cari {
    background-color: #f5f5f5;
    color: #333;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cari .search {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 8px 15px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #f0f0f0;
    transition: border 0.3s;
}

.cari .search:hover {
    border: 1px solid #333;
}

.cari .button {
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #1E90FF;
    color: #fafafa;
    transition: background-color 0.3s, color 0.3s;
}

.cari .button:hover {
    background-color: #00BFFF;
    color: #fff;
}

/* Kotak Kiri */
.kotakkiri {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    position: sticky;
    top: 80px;
    z-index: 1020;
}

.kotakkiri label {
    display: block;
    margin-bottom: 5px;
}

.kotakkiri input[type="range"] {
    width: 100%;
    height: 25px;
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
}

.kotakkiri input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2196f3;
    cursor: pointer;
}

.kotakkiri output {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.kotakkiri input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Container Destinasi */
.container {
    max-width: 1500px;
    margin: 0 auto;
}

/* Tempat Destinasi */
.tempatdestinasi {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tempatdestinasi h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* Grid Tempat */
.tempat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

/* Per Destinasi */
.perdestinasi {
    position: relative;
    margin: 10px;
    width: calc(33.33% - 20px);
    max-width: 300px;
    height: 480px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.perdestinasi:hover {
    transform: scale(1.05);
}

/* Tombol Detail */
.perdestinasi .tombol {
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 12px 16px;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.perdestinasi .tombol a {
    color: #fff;
    text-decoration: none;
}

.perdestinasi .tombol:hover {
    background-color: #2c3e50;
}

/* Gambar Destinasi */
.perdestinasi img {
    border-radius: 10px;
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: transform 0.5s;
}

/* Detail Destinasi */
.perdestinasi h3 {
    margin-top: 10px;
    color: #333;
    font-size: 1.5rem;
}

/* Harga Destinasi */
.perdestinasi h5 {
    margin-top: 5px;
    color: #555;
    font-size: 1rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .perdestinasi {
        width: calc(50% - 20px);
        max-width: none;
    }
}

@media screen and (max-width: 480px) {
    .perdestinasi {
        width: calc(100% - 20px);
    }
}

/*footer*/
.footer {
    background-color: #181818;

}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
}

.footer .box-container .box h3 {
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a {
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i {
    color: #B0B0B0;
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color: #B0B0B0;
}

.footer .credit span {
    color: #fff;
}


@media (max-width:1200px) {

    section {
          padding: 3rem 5%;
    }

}

@media (max-width:991px) {

    html {
          font-size: 55%;
    }

    section {
          padding: 3rem 2rem;
    }

    .home .slide .content h3 {
          font-size: 10vw;
    }

}

@media (max-width:768px) {

    .heading h1 {
          font-size: 4rem;
    }

    #menu-btn {
          display: inline-block;
          transition: .2s linear;
    }

    #menu-btn.fa-times {
          transform: rotate(180deg);
    }

    .header .navbar {
          position: absolute;
          top: 99%;
          left: 0;
          right: 0;
          background-color: var(--white);
          border-top: var(--border);
          padding: 2rem;
          transition: .2s linear;
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
          display: block;
          margin: 2rem;
          text-align: center;
    }

}

@media (max-width:450px) {

    html {
          font-size: 50%;
    }

    .heading-title {
          font-size: 3.5rem;
    }

    .home .cari {
          position: static;
          top: auto;
          left: auto;
          width: 100%;
          height: auto;
          border-radius: 0;
          box-shadow: none;
          margin-top: 20px;
          flex-direction: column;
          align-items: center;
    }

    .home .cari .search {
          width: 90%;
          max-width: 400px;
          margin: 10px;
    }

    .home .cari .button {
          width: 90%;
          max-width: 400px;
          margin: 10px;
    }

    .home .container .kotakkiri {
          position: absolute;
          top: auto;
          left: auto;
          width: 100%;
          height: 200px;
          border-radius: 0;
          box-shadow: none;
          margin-top: 0px;
          flex-direction: column;
          align-items: center;
    }

    .home .container .kotakkiri label {
          font-size: 20px;
          text-align: left;
          font-weight: bold;
    }

    .home .container .kotakkiri input {
          width: 100%;
    }

    .home .tempatdestinasi h2{
          font-size: 40px;
          margin-top: 150px;
          margin-right: 35px;
    }

    .home .container .tempatdestinasi .tempat .perdestinasi{
          margin-left: 30px;
          width: 300px;
          height: 450px;
    }

}
